<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
					       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						   http://www.springframework.org/schema/context 
						   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Auto scan the components -->
	<context:annotation-config />
	<context:component-scan annotation-config="true" base-package="org.fleni.cda" />
	
	<!-- Configuration Log4j -->
	<bean id="log4jInitialization"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>${enableLogger:classpath:}/log4j.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- Configuration Properties -->
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="cda-int.properties" />
		<property name="systemPropertiesModeName">
			<value>SYSTEM_PROPERTIES_MODE_OVERRIDE</value>
		</property>
	</bean>
	<bean id="cda-int.properties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:/properties/cda-commons.properties</value>
				<value>classpath:/properties/cda-constants.properties</value>
				<value>file:${props.path}/cda-connection.properties</value>
				<value>file:${props.path}/cda-execution.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- Import Context -->
	<import resource="classpath*:spring/configuration/dataaccess-application-context.xml" />
	<import resource="classpath*:spring/configuration/remoting-application-context.xml" />
	<import resource="classpath*:spring/configuration/scheduled-application-context.xml" />
	
	<import resource="classpath*:spring/configuration/cda-component-application-jarcontext.xml" />
			
</beans>

 
